.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.footerContent {
  margin-bottom: 10px;
}

.socialMedia a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.socialMedia a:hover {
  text-decoration: underline;
}

.footerBottom {
  font-size: 0.8em;
  color: #ccc;
}
