.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.InputContainer {
  margin-top: 16px;
}

.InputContainer textarea {
  border: none;
  outline: none;
  width: 100%;
}

.titleInput {
  /* outline: none; */
  height: 40px !important;
  display: block;
    width: 100%;
    height: 56px;
    font-size: 30px;
    color: #202020;
    resize: none;
    outline: 0 none;
    line-height: 40px;
    overflow: hidden;
    letter-spacing: -0.4px;
}

.contentInput {
  width: 100%;
  height: 400px;
}