.postListContainer {
  border: 3px dotted #ddd;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.SearchAndCreate {
  display: flex;
  justify-content: end;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.postTable {
  width: 100%;
  border-collapse: collapse;
}

.headerItem {
  background-color: #f4f4f4;
}

.headerItem th {
  padding: 12px;
  text-align: left;
  color: #333;
  border-bottom: 2px solid #ddd;
}

.postItem {
  transition: background-color 0.3s ease;
}

.postItem td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.postItem:hover {
  background-color: #fafafa;
  cursor: pointer;
}
