.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 1rem; 
  justify-content: center;
  padding: 0 1rem;
  max-width: 70vw; 
}
  
  .projectCard {
    width: 200px; 
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer; 
  }
  
  .projectImage {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .projectDetails {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .projectTitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .projectContent {
    font-size: 0.875rem;
    color: #555;
  }
  
  .projectCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  