.container {
  width: 100%;
  height: 400px;
  background-image: url('/assets/mainpage/Team.jpg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}

.loginContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  width: 400px;
  height: 330px;
  margin-left: auto;
  overflow: hidden;
}

.loginTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.loginInputBox {
  width: 100%;
}

.test {
  display: flex;
  justify-content: center;
}

.inputGroup {
  width: 70%;
  margin-right: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.loginButton {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.buttonGroup {
  width: 25%;
  margin-bottom: 15px;
}

.signupButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.kakaoLoginContainer {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 30dp;
  background-color: #FEE500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.kakaoSymbolImg {
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.kakaoLabel {
  margin: 0;
  text-align: center;
  font-weight: 550;
}