.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 24px;
}

.textBox {
  margin-right: 20px;
  height: 282px;
  width: 528px;
}

.contentHeader {
  font-weight: bold;
  font-size: 32px;
}

.contentText {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 400;
  color: #6f6f72;
  line-height: 22px;
}

.icons {
  margin-top: 30px;
  font-size: 17px;
  line-height: 22px;
  vertical-align: middle;
}

.createButton {
  display: inline-block;
  text-align: center;
  margin-top: 40px;
  width: 252px;
  padding: 13px 10px;
  border-radius: 6px;
  background: #f5f6f8;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  height: 48px;
  position: relative;
}

.imgBox {
  height: 282px;
  width: 528px;
  border-radius: 12px;
  border: 1px solid #f5f6f8;
  background: #f5f6f8;
  overflow: hidden;
}

.imgContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
